dist/
main/node_modules/
main/build/
main/package-lock.json
config/

render/node_modules/
render/build/
render/package-lock.json
render/public/manifest.json
render/robots.txt
render/yarn.lock
render/.DS_Store
